@import 'src/styles/variables';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > button {
        color: $white;
        font-size: 30px;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
}